{%extends "base.html"%}
{% block start %}
<form method="POST">
    {% csrf_token %}
    <div class="card mx-auto p-5 mt-5" style="width: 30rem;">

        <p style="color: green;">Signup Page</p>
        {% if messages%}
        <div class="alert alert-primary" role="alert">
            {% for message in messages%}
            {{message}}
            {% endfor %}
            </div>
            {%endif%}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">UserName</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  name="username" aria-describedby="emailHelp">
        
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">EmailAddress</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="text" class="form-control" name="password" id="exampleInputPassword1">
      Already have an account <a href="/login">click here</a>
    </div>
         
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

{% endblock %}